.main-message {
    width: 100%;
    height: 15%;
    color: #222222;
    font-size: x-small;
    background-color: #dddddd;
    border-radius: 20px;
    margin: 100px 0 0 10px !important;
    padding: 10px 10px !important;
}

.body-message {
    font-size: x-small;
}

.output-m {
    margin-top: 30px !important;
}

.output-w {
    text-align: left;
    margin-bottom: 90px !important;
}

.output-e {
    text-align: left;
    margin-bottom: 10px !important;
}
